.taskApp {
  width: 28%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p{
  margin-top: -15px;
  padding-bottom: 30px;
}
